body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

    
}
.homepage-about {
    font-family: Arial, sans-serif;
    width: 75%;
    
    padding: 10px;
}


.homepage-about h1 {
    text-align: center;
    color: #b71c1c;
    font-size: 70px;
    margin-bottom: 10px;
}

.homepage-about p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 12px;
}

.homepage-about ul {
    padding-left: 20px;
}

.homepage-about ul ,li {
    margin: 0px 0px 8px 0px;
    font-size: 16px;
}

h2 {
    margin-bottom: 5px;
    color: #b71c1c;
}

.film-info {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    margin-bottom: 30px;
}

.film-image img {
    display: block;
    margin: 15px 0;
    border-radius: 6px;
    width: 220px;
}

.film-director, .flim-detail, .film-summary, .film-rating {
    margin: 10px 0;
    line-height: 1.6;
    width: 75%;
}

.want-to-watch {
    background-color: #d32f2f; 
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
}

.want-to-watch:hover {
    background-color: #b71c1c;
}



/* 
.navbar {
    width: 100%;
    background-color: #111;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    overflow-x: auto; 
    white-space: nowrap;
}

.navbar ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 8px 12px;
    
}

.navbar a:hover {
    background-color: #ff4747;
    border-radius: 5px;
    color: #fff;
}  */


.navbar {
    width: 250px;
    background-color: #111;
    padding: 20px;
    position: fixed;
    right: 0;        /* Moves menu to the right side */
    top: 0%;
    height: 100%;
    overflow-y: auto;
    
}

.navbar ol {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.navbar li {
    margin: 15px 0;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: block;
    padding: 8px;
  
}

.navbar a:hover {
    background-color: #ff4747;
    border-radius: 5px;
}
header{
    padding: 30px;
    color: red;
    margin:20px;
    background-color:gray;
}
footer{
    padding:20px;
    text-align: center;
    color: gray;
    background-color: black;
}
