 
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.homepage-about {
    text-align: center;
    color: #b71c1c;
    font-size: 70px;
    margin-bottom: 10px;
}
header {
    background: #202020;
    color: #fff;
    padding: 2px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    
}


.intro {
    width: 100%;
    background: #fff;
    padding: 25px;
}


.main-area {
    display: grid;
    grid-template-columns: 250px auto; /* sidebar + movies */
    gap: 20px;
    padding: 20px;
}


aside {
    background: #2c2c2c;
    color: white;
    padding: 20px;
    border-radius: 6px;

    position: sticky;
    top: 10px;   
    height: max-content;
    max-height: 100%;
    overflow-y: auto;
    margin-bottom: 9px;
       
}

aside h3 {
    color: #ffcc00;
}

aside ol {
    list-style: none;
    padding-left: 0;
    
    
}
aside ol li{

    line-height:1.1;
}

aside a {
    color: white;
    text-decoration: none;
  
   
}

aside a:hover {
    background-color: #ff4747;
    border-radius: 5px;
}

/* MOVIES SECTION */
.movies {
    background: #fff;
    padding: 10px;
}

/* MOVIE CARD */
.film-info {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-left: 5px solid #ffcc00;
     border-right: 5px solid #ffcc00;
    border-radius: 6px;
}

/* FOOTER */
footer {
    background: #202020;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
} 
.film-image img {
    display: block;
    margin: 19px 0px;
    border-radius: 6px;
    width: 220px;
   
}
.film-title{
    text-align: center;
}