body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    background-image:url("login1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin: 0;
    padding: 0;
   display: flex;
   
}

.container {
    width: 320px;
    margin: 50px auto;
    background: white;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 20px;
    
    
   
}

h2 {
    
     text-align: center;
}


label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

.forgot {
    display:block;
    margin-top: 15px;
    text-align: center;
}

.signup {
    text-align: center;
    margin-top: 15px;
}
h1{
    background-image:url("time4mc.jpg");
    height:100px;
    background-repeat: no-repeat;
    background-position: center;
    
}   